.videos-container {
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    height: 100vh;
    .section {
        width: 100%;
        padding-top: 1vw;
        display: flex;
        flex-wrap: wrap;
        height: 80vh;
        // border:1px solid red;

        .empity-message {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            span {
                margin-top: 10px;
                font-size: 25px;
            }
        }
    }
    .page-token {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .buttons {
            padding-bottom: 5px;
            display: flex;
            justify-content: space-between;
            width: 8%;
            button {
                background-color: #2c2c2c;
                border: none;
                outline: none;
                display: flex;
                justify-content: space-between;
                cursor: pointer;
            }
        }
    }
}
