.videos-container{
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    background-color:#2C2C2C;
    .section{
        padding: 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        height: 85vh;
        .video-box{
            background-color: #2C2C2C;
            max-width: 18vw;
            height: 200px;
            flex-direction: column;
            margin: 0 10px;
            .actions{
                display: flex;
                width: 100%;
                .icons-box{
                    padding-bottom: 5px;
                    width: 18%;
                    justify-content: space-between;
                    display: flex;
                    cursor: pointer;
                }
            }
            span{
                color:#fff;
                font-size: 1vw;
            }
        }
    }
    .header{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 15vh;
        .input-area{
            .icon{
                padding: 10px 20px;
                background-color: rgba(255,255,255, 0.5);
                border:none;
                outline: none;
                cursor: pointer;
            }
            display: flex;
            width: 70%;
            border-bottom: 1px solid #fff;
            color:#fff;
            input{
                color:#fff;
                font-size: 18px;
                padding: 0 10px;
                border: 0;
                background-color:#2C2C2C;
                outline: none;
                width: 100%;
            }
        }
    }
}